<h3>Forbundede Brugere</h3>

@if (ConnectedUsers is not null && ConnectedUsers.Count > 0)
{
    @foreach (var user in ConnectedUsers)
    {
        @if(user.UserId != this.LogonUserId)
        {
            <tr style="cursor: pointer; height: 30px" @key="user.ConnectionId">
                <td>@user.Email</td>


            </tr>
        }

    }
}


@code {
    [Parameter]
    public List<ConnectedUser>? ConnectedUsers { get; set; } = new();

    [Parameter]
    public string? LogonUserId { get; set; }
}
