@page "/beskeder"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using glubhub.Models
@using glubhub.Persistent.Interfaces


<PageTitle>Fiskebeskeder</PageTitle>

@if (string.IsNullOrEmpty(userName))
{
    <p>Indtast venligst dit brugernavn for at modtage beskeder.</p>
    <UserInfoCollectionComponent OnUserInfoSaved="OnUserInfoProvided"/>
}
else
{
    <h3>Velkommen, @userName!</h3>
    @if (systemMessages.Count == 0)
    {
        <p>Der er ingen beskeder.</p>
    }
    else
    {
        <ul>
            @foreach (var message in systemMessages)
            {
                <li>@message</li>
            }
        </ul>
    }
}






@code {

    private List<string> systemMessages = new List<string>();
    private string userName = string.Empty;
    private string userID = string.Empty;

    private async Task OnUserInfoProvided(string userName)
    {
        this.userName = userName;
        this.userID = Guid.NewGuid().ToString();
        await ConnectToServer(userID, userName);
    }


    private async Task ConnectToServer(string userId, string userName)
    {
    
        var hubconnection = new HubConnectionBuilder()
           .WithUrl($"https://localhost:7076/chathub?userid={userId}&username={userName}")
           .WithAutomaticReconnect()
           .Build();

        hubconnection.On<string>("ReceiveSystemMessage", RecieveSystemMessage);

        await hubconnection.StartAsync();
    
    }


    private void RecieveSystemMessage(string message)
    {
        if (!string.IsNullOrEmpty(message))
        {
            systemMessages.Add(message);
            //StateHasChanged(); //ikke nødvendigt, men hvis vi ændre rendermode til noget andet end InteractiveServer.
        }
    }

}


