@page "/beskeder"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using glubhub.Models
@using glubhub.Persistent.Interfaces


<PageTitle>Fiskebeskeder</PageTitle>

@if (systemMessages.Count == 0)
{
    <p>Der er ingen beskeder.</p>
}
else
{
    <ul>
        @foreach (var message in systemMessages)
        {
            <li>@message</li>
        }
    </ul>
}




@code {

    private List<string> systemMessages = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        var hubconnection = new HubConnectionBuilder()
            .WithUrl($"https://localhost:7076/chathub")
            .WithAutomaticReconnect()
            .Build();

        hubconnection.On<string>("ReceiveSystemMessage", RecieveSystemMessage);

        await hubconnection.StartAsync();
    }


    private void RecieveSystemMessage(string message)
    {
        if (!string.IsNullOrEmpty(message))
        {
            systemMessages.Add(message);
            StateHasChanged(); //ikke nødvendigt, men hvis vi ændre rendermode til noget andet end InteractiveServer.
        }
    }

}


