@page "/"

<PageTitle>Home</PageTitle>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<h1>Halløjsa (idk noget jysk)</h1>

<div>
    <input class="form-control" type="text" style="width:contain" placeholder="Hvad vil du dele på fiskenettet?"> 
    <button type="button" class="btn btn-primary" style="margin-top: 3px">Lokation</button>
    <button type="button" class="btn btn-primary" style="margin-top: 3px">Vægt</button>
    <button type="button" class="btn btn-primary" style="margin-top: 3px">Grej</button>
    <button type="button" class="btn btn-primary" style="margin-top: 3px">Tip</button>
</div>




<div>
    <h1>Opslag fra andre lystfiskere</h1>

</div>









@code{
   
                    
}