@page "/profil"
@using glubhub.Data
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ApplicationDbContext Db

<h3>My posts</h3>

@if (posts == null)
{
    <p>Loading profile...</p>
}
else if (!posts.Any())
{
    <p>No posts found yet.</p>
}
else
{
    <ul>
        @foreach (var post in posts)
        {
            <li>
                <h4>@post.Comment</h4>
                <p>@post.Content</p>
                <small>Posted on @post.Timestamp.ToString("g")</small>
            </li>
        }
    </ul>
}



@code {
    private List<Post>? posts;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;


        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            var userIdString = user.FindFirst(c => c.Type == "sub")?.Value;

            if (Guid.TryParse(userIdString, out var userId))
            {
                posts = Db.Posts
                    .Where(p => p.UserId == userId)   // compare Guid to Guid
                    .OrderByDescending(p => p.Timestamp)
                    .ToList();
            }
            else
            {
                posts = new List<Post>();
            }
        }
    }
}


